html {
    background-color: #FFF !important;
}

body {
    background-color: #FFF !important;
    font-family: 'OCR A Std', monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  margin-top: 3rem;
  font-size: 1rem;
}

span {
    display: inline-block;
    transform: translateY(50%);
}
